{% extends 'base.html'%}

{% block content %}
    <h2>Repository: {{repository.name}} <small>(<a href="../">back</a>)</small></h2>
    <table border="1" width="900px">
        <th>Service</th>
        <th>Provider</th>
        <th>Reputation</th>
        <th>Mandatory Input</th>
        <th>Optional Input</th>
        <th>Output</th>
        {# <th></th> #}
        {% for service, record_set in records.items %}
            {% for record in record_set %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{record_set|length}}">{{record.service}}</td>
                    {% endif %}
                    <td>{{record.service.provider}}</td>
                    <td>{{record.reputation}}</td>
                    {# <th>{{record.mandatory_input}}</th> #}
                    <th>
                        {% for input in record.service.inputs.all %}
                            {{input}}
                        {% endfor %}
                    </th>
                    <th>{{record.optional_input}}</th>
                    <th>{{record.output}}</th>
                    {# <th><small>(<a href="record/remove/?id={{record.id}}">X</a>)</small></th> #}
                </tr>
            {% endfor %}

        {% endfor %}
    </table>

{% endblock %}