{% extends 'base.html'%}

{%block header%}Home{%endblock%}
{%block content%}

<div class="h3 cramp figlet inline" data-font="Small">
	What do you want to do ?
</div>

<ul class="list">
    <li><a href="provider/">create/manage a service provider</a></li>
    <li><a href="repository/">create/manage a service repository</a></li>
    <li><a href="blender/">create/manage a service blender</a></li>
    <li><a href="credentials/">create/manage user credentials</a></li>
    <li><a href="request/">create a user request</a></li>
</ul>
{%endblock%}