@font-face {
  font-family: "terminal";
  src: url("../fonts/terminal.ttf") format("truetype");
}

body {
	background-color: #111111;
}

.container {
	width: 1024px;
	/*background-color: #dddddd;*/
	background-color: black;
	color: green;
	margin: auto;
	margin-top: 40px;
	padding: 10px;
	padding-left: 20px;
	border: 1px solid black;
	border-radius: 10px;
	min-height: 500px;
	font-family: terminal;
	font-size: 20px;
}

.content {
	padding: 20px;
}

.btn {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
	background-color: #aaaaaa;
}

.btn:hover{
	background-color: #bbbbbb;
}

.btn:active{
	background-color: #eeeeee;
}


.form.table th{
	text-align: right;
	color: green;
}

.title {
	text-align: center;
	border-bottom: 1px solid #aaffaa;
	font-weight: bold;
	font-size: 14px;
}

.title.left {
	text-align: left;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 40px;
}
.title.left .main {
	display: inline-block;
}
.title.left .sub {
	float: right;
}

.title.left .name{
	margin-top:80px
}

.cramp {
	letter-spacing: -1px;
}

.h3 {
	display: block;
	font-size: 8px;
}

.inline {
	display: inline-block;
}

.add {
	font-size: 40px;
	/*font-weight: bold;*/
	/*margin-left: 340px;*/
	float: right;
	margin-top: 10px;
	/*margin-right: 20px;*/
}

.add a {
	color: green;
	text-decoration: none;
}

.list {
	margin-left: 30px;
	margin-top: 10px;
	list-style:  circle;
	font-size: 30px;
}

.list a {
	color: green;
	text-decoration: none
}

.right {
	float: right;
}

.errorlist {
    color: red;
}